@media (min-width: 768px) and (max-width: 1024px) {
  .App {
    padding-left: 2rem;
    font-family: 'Neue Alte Grotesk', sans-serif;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .logo {
    width: 50%;
    padding-top: 2.5rem;
  }

  .menu {
    width: 50%;
    height: 16rem;
    display: flex;
    gap: 3rem;
    background-color: #93FFEA;
    list-style: none;
    text-decoration: none;
    padding-top: 2.5rem;
    justify-content: flex-end;

  }

  .menu-list {
    margin-right: 2rem;
  }

  .menu li a {
    font-size: 1.5rem;
    list-style: none;
    color: black;
    text-decoration: none;
    text-align: right;
  }

  li a {
    font-size: 1.5rem;
    list-style: none;
    color: black;
    text-decoration: none;
  }

  .section {
    display: flex;
  }

  .title {
    font-size: 2rem;
    font-weight: 400;
    justify-self: start;
    text-align: left;
  }

  .text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

    text-align: left;
  }

  .achievement {
    margin-top: 200px;
  }

  .achievement-text {
    text-align: left;
    font-weight: 100;
    font-size: 1rem;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }



  .section-div {
    width: 50%;
  }

  .people-section {
    display: flex;
    flex-wrap: wrap;
  }

  .people-section>div {
    flex: 1 1 calc(25% - 10px);
    /* Adjust width to fit 4 items in a row with some gap */
    margin: 5px;
    /* Add spacing between items */
  }

  .people-section>div:nth-child(4) {
    flex: 0 0 calc(25% - 10px);
    order: 1;
    width: 100%;
    margin: 0;
  }

  .people-section>div:nth-child(5) {
    flex: 0 0 calc(25% - 10px);
    order: 1;
    width: 100%;
    margin: 0;
  }



  .people {
    width: 20rem;

    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.56rem;
    word-wrap: break-word;
    /* Wraps long words */

  }

  .people-name {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0%;

  }

  .people-title {

    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0%;
  }

  .people-desc {
    font-weight: 300;
    display: block;
    font-size: 1rem;
  }

  .person-name {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0%;
    height: 4.4rem;
    width: 13rem;
  }

  .person-title {
    font-weight: 300;
    font-size: 32px;
    height: 70px;
    width: 220px;
  }

  .person-desc {
    height: 4rem;
    width: 13rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .people img {
    width: 10rem;
    height: 10rem;
  }

  main {
    display: flex;
    height: 30rem;
  }

  .main-div {
    width: 50%;
    /* position: absolute;
    top: 185px; */
  }

  .main-div p {

    font-size: 3rem;
    text-align: left;

  }

  .background-image {
    background-image: url("../public/background.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    background-color: #93FFEA;
    /* position: absolute;
      right: 0px; */
  }

  .partner-title .partner-decription {
    text-align: center;
  }

  .partner {
    width: 13rem;
    height: 8rem;
  }

  .partner img {
    display: block;
    margin: 0 auto;
    width: 66%;
    height: 80%;
  }

  .partner-title {
    text-align: center;
  }

  .partner-desc {
    text-align: center;
  }

  .partner-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .partner-section>div {
    flex: 1 1 calc(40% - 10px);
    /* Adjust width to fit 4 items in a row with some gap */
    margin: 5px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 4.25rem;
  }


  .footer-address {
    font-weight: 300;
    font-size: 2rem;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 2rem;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
  }

  .video {
    width: 100%;
    height: 532px;
  }
}

@media (max-width: 768px) {
  .App {
    padding-left: 2rem;
    font-family: 'Neue Alte Grotesk', sans-serif;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .logo {
    width: 50%;
    padding-top: 40px;
  }

  .menu {
    width: 50%;
    height: 73px;
    display: flex;
    gap: 1rem;
    background-color: #93FFEA;
    list-style: none;
    text-decoration: none;
    padding-top: 40px;
    justify-content: flex-end;
  }

  .menu-list {
    margin-right: 2rem;
  }

  .menu li a {
    font-size: 12px;
    list-style: none;
    color: black;
    text-decoration: none;
    text-align: right;
  }



  .section {
    display: flex;
  }

  .title {
    font-size: 32px;
    font-weight: 400;
    justify-self: start;
    text-align: left;
  }

  .text {
    font-weight: 400;
    font-size: 10px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

    text-align: left;
  }

  .achievement {
    margin-top: 100px;
  }

  .achievement-text {
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }

  .video {
    width: 100%;
    height: 266px;
  }


  .section-div {
    width: 50%;
  }

  .people-section {
    display: flex;
    flex-wrap: wrap;
  }

  .people-section>div {
    flex: 0 1 calc(33% - 10px);
    /* Adjust width to fit 4 items in a row with some gap */
    margin: 5px;
    /* Add spacing between items */
  }

  .people-section>div:nth-child(5) {
    flex: 0 0 calc(33% - 10px);
    order: 1;
    width: 100%;
    margin: 0;
  }



  .people {
    width: 320px;

    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    /* Wraps long words */

  }

  .people-name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0%;

  }

  .people-title {

    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0%;
  }

  .people-desc {
    font-weight: 300;
    display: block;
    font-size: 8px;
  }

  .person-name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0%;
    height: 35px;
    width: 106px;
  }

  .person-title {
    font-weight: 300;
    font-size: 16px;
    height: 35px;
    width: 106px;
  }

  .person-desc {
    height: 35px;
    width: 106px;
    font-size: 8px;
    font-weight: 300;
  }

  .people img {
    width: 83px;
    height: 83px;
  }

  main {
    display: flex;
    height: 237px;
  }

  .main-div {
    width: 50%;
    /* position: absolute;
    top: 185px; */
  }

  .main-div p {

    font-size: 2rem;
    text-align: left;

  }

  .background-image {
    background-image: url("../public/background.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    background-color: #93FFEA;
    /* position: absolute;
      right: 0px; */
  }

  .partner-title .partner-decription {
    text-align: center;
  }

  .partner {
    width: 320px;
    height: 200px;
  }

  .partner img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50%;
  }

  .partner-title {
    text-align: center;
  }

  .partner-desc {
    text-align: center;
  }

  .partner-section {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
  }

  .partner-section>div {
    flex: 1 1 calc(40% - 10px);
    /* Adjust width to fit 4 items in a row with some gap */
    margin: 5px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 33px;
  }


  .footer-address {
    font-weight: 300;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
  }
}

@media(min-width:1024px) {
  .App {
    padding-left: 2rem;
    font-family: 'Neue Alte Grotesk', sans-serif;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .logo {
    width: 50%;
    padding-top: 40px;
  }

  .menu {
    width: 50%;
    height: 219px;
    display: flex;
    gap: 48px;
    background-color: #93FFEA;
    list-style: none;
    text-decoration: none;
    padding-top: 40px;
    justify-content: flex-end;

  }

  .menu-list {
    margin-right: 2rem;
  }

  .menu li a {
    font-size: 24px;
    list-style: none;
    color: black;
    text-decoration: none;
    text-align: right;
  }

  li a {
    font-size: 24px;
    list-style: none;
    color: black;
    text-decoration: none;
  }

  .section {
    display: flex;
  }

  .title {
    font-size: 96px;
    font-weight: 400;
    justify-self: start;
    text-align: left;
  }

  .text {
    font-weight: 400;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

    text-align: left;
  }

  .achievement {
    margin-top: 300px;
  }

  .achievement-text {
    text-align: left;
    font-size: 48px;
    font-weight: 100;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }



  .section-div {
    width: 50%;
  }

  .people-section {
    display: flex;
    flex-wrap: wrap;
  }

  .people-section>div {
    flex: 1 1 calc(25% - 10px);
    /* Adjust width to fit 4 items in a row with some gap */
    margin: 5px;
    /* Add spacing between items */
  }

  .people-section>div:nth-child(5) {
    flex: 0 0 calc(25% - 10px);
    order: 1;
    width: 100%;
    margin: 0;
  }



  .people {
    width: 320px;

    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    /* Wraps long words */

  }

  .people-name {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0%;

  }

  .people-title {

    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0%;
  }

  .people-desc {
    font-weight: 300;
    display: block;
    font-size: 24px;
  }

  .person-name {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0%;
    height: 106px;
    width: 320px;
  }

  .person-title {
    font-weight: 300;
    font-size: 48px;
    height: 106px;
    width: 320px;
  }

  .person-desc {
    height: 106px;
    width: 320px;
    font-size: 24px;
    font-weight: 300;
  }

  .people img {
    width: 250px;
    height: 250px;
  }

  main {
    display: flex;
    height: 710px;
  }

  .main-div {
    width: 50%;
    /* position: absolute;
    top: 185px; */
  }

  .main-div p {

    font-size: 96px;
    text-align: left;

  }

  .background-image {
    background-image: url("../public/background.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    background-color: #93FFEA;
    /* position: absolute;
      right: 0px; */
  }

  .partner-title .partner-decription {
    text-align: center;
  }

  .partner {
    width: 320px;
    height: 202px;
  }

  .partner img {
    display: block;
    margin: 0 auto;
  }

  .partner-title {
    text-align: center;
  }

  .partner-desc {
    text-align: center;
  }

  .partner-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }


  .footer-address {
    font-weight: 300;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
  }

  .video {
    width: 100%;
    height: 800px;
  }
}